In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split    
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import joblib

In [2]:
df_incoming_bikes = pd.read_pickle('incoming_bikes.pkl')
df_outgoing_bikes = pd.read_pickle('outgoing_bikes.pkl')

In [3]:
df_incoming_bikes.head(100)

,ENDSTATIONNAME,ROUNDEDENDTIME,COUNTEVENTS,ENDSTATIONID,ENDDATE,ENDDAYNUM,ENDMONTHNUM,ENDTIME,ENDHOUR,ENDMINUTE,DAYOFWEEK
0,10e avenue / Masson,2022-04-16 00:00:00,1,4910110,2022-04-16,16,4,00:00:00,0,0,5
1,10e avenue / Masson,2022-04-16 00:30:00,3,4910110,2022-04-16,16,4,00:30:00,0,30,5
2,10e avenue / Masson,2022-04-16 02:30:00,1,4910110,2022-04-16,16,4,02:30:00,2,30,5
3,10e avenue / Masson,2022-04-16 09:00:00,1,4910110,2022-04-16,16,4,09:00:00,9,0,5
4,10e avenue / Masson,2022-04-16 12:00:00,1,4910110,2022-04-16,16,4,12:00:00,12,0,5
...,...,...,...,...,...,...,...,...,...,...,...
95,10e avenue / Masson,2022-04-21 03:30:00,1,4910110,2022-04-21,21,4,03:30:00,3,30,3
96,10e avenue / Masson,2022-04-21 04:30:00,2,4910110,2022-04-21,21,4,04:30:00,4,30,3
97,10e avenue / Masson,2022-04-21 10:00:00,1,4910110,2022-04-21,21,4,10:00:00,10,0,3
98,10e avenue / Masson,2022-04-21 11:00:00,3,4910110,2022-04-21,21,4,11:00:00,11,0,3
99,10e avenue / Masson,2022-04-21 13:30:00,2,4910110,2022-04-21,21,4,13:30:00,13,30,3

In [4]:
df_outgoing_bikes.head(100)

,STARTSTATIONNAME,ROUNDEDSTARTTIME,COUNTEVENTS,STARTSTATIONID,STARTDATE,STARTDAYNUM,STARTMONTHNUM,STARTTIME,STARTHOUR,STARTMINUTE,DAYOFWEEK
0,10e avenue / Masson,2022-04-16 00:30:00,2,4910110,2022-04-16,16,4,00:30:00,0,30,5
1,10e avenue / Masson,2022-04-16 01:00:00,1,4910110,2022-04-16,16,4,01:00:00,1,0,5
2,10e avenue / Masson,2022-04-16 03:00:00,1,4910110,2022-04-16,16,4,03:00:00,3,0,5
3,10e avenue / Masson,2022-04-16 11:00:00,1,4910110,2022-04-16,16,4,11:00:00,11,0,5
4,10e avenue / Masson,2022-04-16 13:00:00,1,4910110,2022-04-16,16,4,13:00:00,13,0,5
...,...,...,...,...,...,...,...,...,...,...,...
95,10e avenue / Masson,2022-04-20 19:30:00,3,4910110,2022-04-20,20,4,19:30:00,19,30,2
96,10e avenue / Masson,2022-04-20 20:00:00,1,4910110,2022-04-20,20,4,20:00:00,20,0,2
97,10e avenue / Masson,2022-04-20 21:00:00,4,4910110,2022-04-20,20,4,21:00:00,21,0,2
98,10e avenue / Masson,2022-04-20 21:30:00,1,4910110,2022-04-20,20,4,21:30:00,21,30,2
99,10e avenue / Masson,2022-04-20 22:00:00,3,4910110,2022-04-20,20,4,22:00:00,22,0,2

In [5]:
df_outgoing_bikes.head(100)
min_value = df_outgoing_bikes['COUNTEVENTS'].min()
max_value = df_outgoing_bikes['COUNTEVENTS'].max()

df_outgoing_bikes['COUNTEVENTSNORM'] = (df_outgoing_bikes['COUNTEVENTS'] - min_value) / (max_value - min_value)

In [6]:
# outputs.head(100)

In [7]:
#plot start hour x axis, count events y axis
# plt.scatter(inputs['STARTHOUR'], outputs, color='red', marker='+')
df_test = pd.DataFrame(df_outgoing_bikes.groupby(['STARTSTATIONID', 'STARTMONTHNUM', 'STARTHOUR', 'DAYOFWEEK'], as_index=False)['COUNTEVENTS'].mean())
#normalize count events
min_value = df_test['COUNTEVENTS'].min()
max_value = df_test['COUNTEVENTS'].max()

df_test['COUNTEVENTSNORM'] = (df_test['COUNTEVENTS'] - min_value) / (max_value - min_value)



# plt.scatter(df_test['STARTMONTHNUM'], df_test['COUNTEVENTS'], color='blue', marker='+')
inputs = df_test.drop(['COUNTEVENTS', 'COUNTEVENTSNORM'], axis='columns')
outputs = df_test['COUNTEVENTSNORM']

inputs_train, inputs_test, outputs_train, outputs_test = train_test_split(inputs, outputs, test_size=0.2)
#same plot but average 
print(df_test.shape)
df_test.head(100)

(800042, 6)

,STARTSTATIONID,STARTMONTHNUM,STARTHOUR,DAYOFWEEK,COUNTEVENTS,COUNTEVENTSNORM
0,6106,4,0,0,6.000000,0.071151
1,6106,4,0,1,1.400000,0.005692
2,6106,4,0,2,2.600000,0.022768
3,6106,4,0,3,2.333333,0.018974
4,6106,4,0,4,7.400000,0.091074
...,...,...,...,...,...,...
95,6106,4,14,6,3.500000,0.035576
96,6106,4,15,0,1.500000,0.007115
97,6106,4,15,1,1.666667,0.009487
98,6106,4,15,2,3.250000,0.032018
99,6106,4,15,3,2.000000,0.014230

In [8]:
inputs.head(100)

    STARTSTATIONID  STARTMONTHNUM  STARTHOUR  DAYOFWEEK
0             6106              4          0          0
1             6106              4          0          1
2             6106              4          0          2
3             6106              4          0          3
4             6106              4          0          4
..             ...            ...        ...        ...
95            6106              4         14          6
96            6106              4         15          0
97            6106              4         15          1
98            6106              4         15          2
99            6106              4         15          3

[100 rows x 4 columns]

In [9]:
outputs.head(100)

0     0.071151
1     0.005692
2     0.022768
3     0.018974
4     0.091074
        ...
95    0.035576
96    0.007115
97    0.009487
98    0.032018
99    0.014230
Name: COUNTEVENTSNORM, Length: 100, dtype: float64

In [10]:
# df_test = pd.DataFrame(df_incoming_bikes.groupby(['ENDHOUR'], as_index=False)['COUNTEVENTS'].mean())
# plt.scatter(df_test['ENDHOUR'], df_test['COUNTEVENTS'], color='green', marker='+')

In [11]:
# model_outgoing_bikes = LinearRegression()
model_outgoing_bikes = RandomForestRegressor(n_estimators=100, random_state=42, verbose=0)
# model_outgoing_bikes = DecisionTreeClassifier()
model_outgoing_bikes.fit(inputs_train, outputs_train)
score = model_outgoing_bikes.score(inputs_test, outputs_test)
print(score)

0.7070810697629761

In [12]:
#For incoming bikes
df_test = pd.DataFrame(df_incoming_bikes.groupby(['ENDSTATIONID', 'ENDMONTHNUM', 'ENDHOUR', 'DAYOFWEEK'], as_index=False)['COUNTEVENTS'].mean())
min_value = df_test['COUNTEVENTS'].min()
max_value = df_test['COUNTEVENTS'].max()
df_test['COUNTEVENTSNORM'] = (df_test['COUNTEVENTS'] - min_value) / (max_value - min_value)



# plt.scatter(df_test['STARTMONTHNUM'], df_test['COUNTEVENTS'], color='blue', marker='+')
inputs = df_test.drop(['COUNTEVENTS', 'COUNTEVENTSNORM'], axis='columns')
outputs = df_test['COUNTEVENTSNORM']

inputs_train, inputs_test, outputs_train, outputs_test = train_test_split(inputs, outputs, test_size=0.2)
#same plot but average 
print(df_test.shape)
df_test.head(100)

(817181, 6)

,ENDSTATIONID,ENDMONTHNUM,ENDHOUR,DAYOFWEEK,COUNTEVENTS,COUNTEVENTSNORM
0,6106,4,0,0,8.000000,0.103217
1,6106,4,0,1,3.166667,0.031948
2,6106,4,0,2,4.200000,0.047185
3,6106,4,0,3,3.333333,0.034406
4,6106,4,0,4,5.833333,0.071269
...,...,...,...,...,...,...
95,6106,4,15,5,2.800000,0.026542
96,6106,4,15,6,2.750000,0.025804
97,6106,4,16,0,3.000000,0.029491
98,6106,4,16,1,2.166667,0.017203
99,6106,4,16,2,2.333333,0.019660

In [13]:
# model_outgoing_bikes = LinearRegression()
model_incoming_bikes = RandomForestRegressor(n_estimators=100, random_state=42, verbose=0)
# model_outgoing_bikes = DecisionTreeClassifier()
model_incoming_bikes.fit(inputs_train, outputs_train)
score = model_incoming_bikes.score(inputs_test, outputs_test)
print(score)

0.7527228620298854

In [14]:
# # model_outgoing_bikes = LinearRegression()
# model_incoming_bikes_linear = LinearRegression()
# # model_outgoing_bikes = DecisionTreeClassifier()
# model_incoming_bikes_linear.fit(inputs_train, outputs_train)
# score = model_incoming_bikes_linear.score(inputs_test, outputs_test)
# print(score)

0.05134130266419579

In [15]:
# print(model_outgoing_bikes.predict([[6106, 7, 12, 1]]))
print(model_incoming_bikes.predict([[6106, 4, 0, 4]]))

[0.06626542]

c:\Users\ramir\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [16]:
#save model
joblib.dump(model_outgoing_bikes, 'random_forest_model_outgoing.joblib')
joblib.dump(model_incoming_bikes, 'random_forest_model_incoming.joblib')

['random_forest_model_incoming.joblib']